.wrap-menu {
    background: black;
}

.menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #747c81;
    ;

    transform: translateX(-100%);
    transition: transform 200ms linear;
}

.menu_open {
    transform: translateX(0);
}

.menu-item {
    padding: 15px 20px;
    border-bottom: 1px solid #fff;
}

.menu-item-action {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}